.cart {
  &__deleteall {
    margin-bottom: 20px;

    button {
      color: #6a38ff;
      width: 100px;
      height: 40px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 10px;
      font-size: 14px;
      border: 1px solid #6a38ff;
      background: #212529;
      transition: all 0.5s;

      &:hover {
        color: #fff;
        background-color: #6a38ff;
      }
    }
  }

  &__item {
    margin-bottom: 10px;
    border: 1px solid #a5a5a5;
    display: flex;
    align-items: center;
    padding: 10px;
    border-radius: 10px;
  }

  &__image {
    width: 100px;
    aspect-ratio: 4/3;
    margin-right: 10px;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__content {
    flex: 1;
  }

  &__title {
    color: #fff;
    margin: 0;
  }

  &__price-new {
    font-size: 18px;
    font-weight: 700;
    color: #6a38ff;
  }

  &__price-old {
    color: #747373;
    font-size: 14px;
    text-decoration: line-through;
  }

  &__quantity {
    display: flex;
    align-items: center;

    input {
      width: 50px;
      border: 1px solid #6a38ff;
      height: 28px;
      border-radius: 5px;
      text-align: center;
      margin: 0 5px;
    }

    span {
      cursor: pointer;
      width: 28px;
      height: 28px;
      border: 1px solid #6a38ff;
      border-radius: 10px;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      color: #fff;
    }
  }

  &__delete {
    margin-left: 20px;
    font-size: 14px;
    font-weight: 600;
    color: red;
    cursor: pointer;
  }

  &__voucher {
    margin-top: 20px;
    text-align: center;
  }

  &__discount {
    color: #6a38ff;
    width: 100px;
    height: 40px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    font-size: 14px;
    border: 1px solid #6a38ff;
    background: #212529;
    transition: all 0.5s;
    margin-right: 20px;

  }

  &__total {
    color: #fff;
    text-align: right;
    font-size: 30px;
    font-weight: 600;
    border-bottom: 1px solid #fff;
    padding-bottom: 20px;
    margin-top: 20px;
  }

  &__confirm {
    margin-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;

    button {
      color: #fff;
      width: 160px;
      height: 50px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 10px;
      font-size: 16px;
      background: #6a38ff;
      transition: all 0.5s;

      &:hover {
        color: #fff;
        background-color: #6a38ff;
      }
    }
  }
}


.modal {
  &__options {
    margin-bottom: 20px;
    text-align: right;

    button {
      width: 70px;
      height: 40px;
      border-radius: 10px;
      background-color: #fff;
      color: #6a38ff;
      border: 1px solid #6a38ff;

      &:hover {
        background-color: #6a38ff;
        color: #fff;
      }
    }
  }

  &__input {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    justify-content: center;
    align-items: center;

    label {
      margin-right: 20px;
    }

    input {
      height: 40px;
      width: 400px;
      border-radius: 10px;
      margin-bottom: 20px;
    }
  }

  &__btn {
    text-align: center;
    padding: 20px;

    button {
      width: 100px;
      height: 50px;
      border-radius: 10px;
      background-color: #fff;
      color: #6a38ff;
      border: 1px solid #6a38ff;

      &:hover {
        background-color: #6a38ff;
        color: #fff;
      }
    }
  }

  &__table {
    &--header {
      background-color: #f1f5f9;
    }

    &--content {
      //height: 600px;
      border: 1px solid #b7bfc7;
      //overflow-x: auto;
    }

    table {
      width: 700px;
      table-layout: fixed;
    }

    th {
      padding: 20px 15px;
      text-align: center;
      font-weight: 500;
      font-size: 14px;
      text-transform: uppercase;
    }

    td {
      padding: 15px;
      text-align: center;
      //vertical-align: middle;
      font-weight: 300;
      font-size: 14px;
      border-bottom: 1px solid #b7bfc7;
    }

  }
}