.gift {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  &__wrap {
    width: 60%;
    background: #fff;
    border-radius: 10px;
    padding: 20px 40px;

    h1 {
      color: #6a38ff;
      font-size: 40px;
      font-weight: 700;
    }
  }

  &__info {
    padding: 10px;
    font-size: 32px;
    border-bottom: 1px solid black;
    font-weight: 600;
  }

  &__list {
    padding: 10px;
  }

  &__desc {
    font-size: 20px;
  }

  &__box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
    padding: 10px;
  }

  &__btn {
    button {
      color: #6a38ff;
      width: 100px;
      height: 40px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 10px;
      font-size: 14px;
      border: 1px solid #6a38ff;
      background: #fff;
      transition: all 0.5s;

      &:hover {
        color: #fff;
        background-color: #6a38ff;
      }
    }
  }
}
